 header{
    background-color: red;
    height: 100px;
    border: 10px solid  purple;
 }

 nav{
    background-color: blue;
    height: 50px;
    border: 3px solid yellow;
 }
 main{
    background-color: pink;
    height: 500px;
    border:10px solid grey;
 }
footer{
    height: 50px;
    background-color: aquamarine;
    border: 5px solid brown;
}
section{
    height: 180px;
    background-color: green;
    border:2px solid orange;
}
aside{
    background-color: chocolate;
    height: 120px;
    width: 45%;
    border: 1px solid black;
    display: inline-block;
    
}