header {
    height: 68px;
    background-color: #FFE5CE;
    display: flex;
    align-items: center;

}

header * {
   font-family: 'Roboto', sans-serif;
}

.navbar {
    max-width: 1280px;
    width: 100%;

}

.navbar .navbar-collapse ul:first-child li a {
    color: #2f2e2e;
    font-size: 15px;
    font-weight: 300;
    transition: 500ms;
}

.navbar .navbar-collapse ul:first-child li a:hover {
    color: #faaa62!important;
}

.navbar .navbar-collapse ul:last-child li a i {
    font-size: 15px;
    font-weight: 900;
    color: black;

}

.navbar ul li {
    margin-right: 10px;
}

.active {
    color: #faaa62!important;
}

.banner-area h3 {
    margin-top: 68px;
    text-align: center;
    margin-bottom: 0px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 300;
    color: #2f2e2e;
}

.banner-area h1 {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Playfair Display' , serif;
    font-size: 50px;
    color: #2f2e2e;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.banner-area img {
    width: 100%;
    max-height: 679px;
    object-fit: cover;
}

.cards-area {
    max-width: 1030px;
    margin-top: 147px!important;
}

.cards-area .card {
    border-radius: 0px;
    border: none;
    position: relative;
}

.cards-area .card img {
    width:311px;
    height: 281px;
    object-fit: cover;
    border-radius: 0px;

}

.cards-area .card-body {
    width: 261px;
    height: 132px;
    position: absolute;
    background-color: #faaa62;
    top: 200px;
    left: 0px;
    right: 0px;
    margin: auto;

}

.cards-area .card .card-body h5 {
    font-family: 'Playfair Display' , serif;
    font-size: 23px;
    color: #2f2e2e;
    font-weight: 700;
    letter-spacing: 1.3px;
    text-align: center;
    margin-top: 10px;
}
.cards-area .card .card-body p {
    font-family: 'Roboto', sans-serif;
    color: #2f2e2e;
    font-size: 15px;
    font-weight:d 300px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 1.1px;


}

.cards-area .card:first-child  .card-body{
    background-color: #FFE5CE;
}

.cards-area .card:nth-child(2) .card-body {
    background-color: #EAF2F5;
}

.cards-area .card:last-child .card-body {
    background-color: #E8F3E4;


}

.cards-area .card hr {
    width: 20px;
    height: 2px;
    margin: auto;
    background-color: black;
    border-color: black;
    opacity: 1;
}

.posts-area {
    max-width: 980px;
    width: 100%;
    margin-top: 132px!important;
}

posts-area .left {
    width:670px;

}

.post-area .right {
    width: 261px;
}

.posts-area .right .card {
    border-radius: 0px;
    border: none;
}

.posts-area .right .card img {
    border-radius: 0px;
    width: 100%;
    height: 231px;
    object-fit: cover;
}


.posts-area .right .card-body {
    padding:38px 31px 20;
    background-color: #EAF2F5;
    box-sizing: border-box;
}
.posts-area .right .card-body h5 {
    margin-top: 0px;
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #2f2e2e;
    font-weight: 400;
    letter-spacing: 1.2px;

}
.posts-area .right .card-body p {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #2f2e2e;
    font-weight: 300;
    letter-spacing: 1.1px;
    margin-top: 25px;

 
}

.posts-area .right .card-body p:last-child {
    margin-top: 0px;
}

.card-post {
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid rgb(248,248,248);

}

main .card-post img {
    max-height: 501px;
    width: 100%;
    object-fit: cover;
}

.card-post .card-body .user .user-info {
    display: inline-block;
    margin-left: 10px;
}

.card-post .card-body .user .user-info span {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: rgb(65,65,65);
}

.card-post .card-body .user .user-info div {
    display: flex;
    align-items: center;

}

.card-post .card-body h3 {
    font-size: 24px;
    font-family: 'EB Garamond', serif;
    color: black;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 19px;
}

.card-post .card-body p {
    font-size: 'Roboto', sans-serif;
    color: black;
    font-size: 15px;
    letter-spacing: 1.02px;
    font-weight: 300;
    margin-top: 0px;
    margin-bottom: 26px;

}

.card-post .card-body .card-footer ul {
    padding: 0px;
    margin: 0px;
}

.card-post .card-body .card-footer ul:first-child {
    float: left;
    display: flex;
}

.card-post .card-body .card-footer ul li {
    display: flex;
    align-items: center;

}
.card-post .card-body .card-footer ul li svg {
    margin-right: 8px;
}

.card-post .card-body .card-footer ul:last-child i {
    color: red;
    display: inline-block;
    margin-left: 10px;
}

.image-gallery {
    height: 310px;
    display: flex;

}

.image-gallery div article {
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 500ms;

}

.image-gallery div article p {
    width:90%;
    text-align: center;
    font-size: 25px;
}

section .box1 {
    background-image:
    url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/01.jpg);

}

section .box2 {
    background-image:
    url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/02.jpg);

}

section .box3 {
    background-image:
    url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/03.jpg);

}

section .box4 {
    background-image:
    url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/04.jpg);

}

section .box5 {
    background-image:
    url(https://static.parastorage.com/services/instagram-cdn/1.691.0/assets/ig-templates-accounts/Editor/Traveller%20Blog/05.jpg);

}

.footer-body {
    max-width: 720px;
    padding-top: 60px;

}

.footer-body h2 {
    font-family: 'Roboto', sans-serif;
    color: #2f2e2e;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    margin-top: 0px;
    letter-spacing: 1.3px;
}

.footer-body .mb-3 {
    margin-bottom: 10px!important;
}
.footer-body button {
    width: 100%;
    height: 35px;
    background-color: #2f2e2e;
    border: none;
    color: #fff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

footer article p {
    margin: 0px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #2f2e2e;

}

footer article p a {
    text-decoration: none;
    color: #2f2e2e;
}

footer ul {
    display: flex!important;
    width: 150px;
    justify-content: space-between;
}

footer ul li a i {
    font-size: 20px;
    font-weight: 700;
    color: black;
}












































