/* body{
    background-color: white;
}


header{
    height:100px;
    
    
}
header section {
    width: 90%;
    margin:auto;

}
header div{
    width:120px;
    height: 70px;
    
    display: inline-block; 
    margin-top: 15px;
}
nav {
  width: 550px;
  height: 70px;
  display: inline-block;
  /* margin-top: 15px; */
  /* margin-left: 350px; */
  /* margin:15px 0px 0px 250px;
}

header li a {
    color: black;
    text-decoration: none;


}

header nav ul {
    list-style: none;
    
}

header ul li {
    display: inline-block;
    margin:0px 15px;
}



article {
    width: 390px;
    height: 70px;
    display: inline-block;
    margin-top: 15px;
    float: right;

}

article a {
    font-size: 18px;
    border:1px solid lightgrey;
    width:40px;
    height:40px;
    display: inline-block;
    border-radius: 8px;

}

article a i {
     display: inline-block;
     margin: 12px 13px;

}
 main {
    height: 500px;
    background-color: grey;
    margin-top: 20px;

    

 }
 .top{
    height: 350px;
    background-color: purple;
    

 } */
/* 
 .bottom{
    height: 120px;
    background-color: brown;
    border:2px solid black;
    margin-top: 20px;
 } */ 

 /* main section:first-child div {
    width:200px;
    height: 300px;
    background-color: aqua;
    display: inline-block;
    margin:10px 17.5px;

 } 
 footer {
    height: 70px;
    background-color: steelblue;
    margin-top: 15px;
    
 } */



 header {
    background-color: orange;
    height: 100px;
    border:2px solid black;
    color: red!important;
    border-radius: 10px;

 }
 header nav {
    display: inline-block;

 }

 header ul {
    list-style: none;
    margin:30px;

 }

 header ul li {
    display: inline-block;
    margin: 0px 20px;

 }

 header ul li a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    transition: all 0.3s ease;

 }

 header ul li a:hover {
   color: white;

}

 header button {
    float: right;
    margin-top: 20px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    margin-right: 10px;

   transition: all 0.3s ease;
 }
 header button:hover{
   background-color: white;
   color: aqua;
   cursor: pointer;
 }




