body {
    margin:0px;
    padding:0px;

}
section {
    width: 940px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
section .card {
    width:292px;
    height: 325px;
    border:1px solid rgb(222,222,222);

}
section .card img {
    width: 100%;
    height: 165px;
    object-fit: cover;

}

.card .card-body {
    padding:28px 33px 25px;
    box-sizing: border-box;

}
.card-body h2 {
    margin-top: 0px;

}
.card-body p {
    display: flex;
    align-items: center;
}